@mixin link($color: inherit) {

  @if $color == inherit {
    color: inherit;
  } @else if $color == green {
    color: $green--elizabeth;
  } @else if $color == grey {
    color: $grey;
  } @else if $color == white {
    color: $white;
  }
  cursor: pointer;
  transition: opacity 0.25s;
  text-decoration: underline;

  &:hover {
    opacity: 0.7;
  }

  &:active{
    opacity: 1;
  }
}

.v2-link {
  @include link;
}

.v2-link--green {
  color: $green--elizabeth;
}

.v2-link--grey {
  color: $grey;
}

.v2-link--white {
  color: $white;
}
