
// No mixins required for single properties, easier to remember the actual css

.u-bold {
  font-weight: bold;
}

.u-italic {
  font-style: italic;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-nowrap {
  white-space: nowrap;
}

.u-ellipsis {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
