@import "../index"; // Include mixins
@import "../dist/compiled.css"; // Included compiled
@import "@nib-styles/v2-icons";

.some-other-class {
  @include title($size: 1, $color: green);
  text-align: right;
  text-decoration: underline;
  transform: rotate(180deg);
}

.subheading {
  @include title(3, white, true);
  background: $queen-elizabeth;
  padding: 5px;
}

.custom-paragraph {
  @include copy;
  @include paragraph;
  text-align: right;
}

.custom-link {
  @include link(green);
}