// Include all the mixins
@import "./index";

// ============ Title ============

.v2-title {
  @include title-common();
}

// Loop through to generate title--1 to title--4 classes
@for $i from 1 through 4 {

  .v2-title--#{$i} {
    @include title-size($i);
  }

  /*
  * Add margins to titles when part of an article/document style page
  */
  .v2-article .v2-title--#{$i} {
    @include title-padding($i);
  }

}

.v2-title--color-doc {
  color: $color-doc;
}

.v2-title--color-queen-elizabeth {
  color: $color-queen-elizabeth;
}

.v2-title--color-white {
  color: $color-white;
}

// ============ Copy ============

.v2-copy {
  @include copy($color: 'grey');
}

.v2-copy--white {
  @include copy-color('white');
}

.v2-paragraph {
  @include copy-padding();
}

// ============ Link ============

.v2-link {
  @include link-common();
}

.v2-link--green {
  @include link-color('green');
}

.v2-link--grey {
  @include link-color('grey');
}

.v2-link--white {
  @include link-color('white');
}

// ============ Utils ============

@import "./partials/utils";
@import "./partials/lists";
