@mixin copy($color: grey) {
  @if $color == grey {
    color: $grumpy;
  } @else if $color == white {
    color: $white;
  }
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

@mixin paragraph() {
  margin-top: 10px;
  margin-bottom: 10px;
}
