@mixin copy($color: grey, $size: normal) {
  @if $color == grey {
    color: $color-doc;
  } @else if $color == white {
    color: $color-white;
  }
  font-family: 'Open Sans', sans-serif;
  @if $size == large {
    font-size: 1.25rem;
  } @else if $size == small {
    font-size: .75rem;
  }@else if $size == normal {
    font-size: 1rem;
  }
  font-weight: 400;
  line-height: 1.5;
}

@mixin paragraph() {
  margin-top: 10px;
  margin-bottom: 10px;
}
