@mixin link($color: inherit) {

  @if $color == inherit {
    color: inherit;
  } @else if $color == green {
    color: $color-queen-elizabeth;
  } @else if $color == grey {
    color: $color-doc;
  } @else if $color == white {
    color: $color-white;
  }
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid currentColor;

  &:hover {
    border-bottom-width: 2px;
  }

  &:active{
    border-bottom-width: 1px;
  }
}