@mixin title-common() {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

@mixin title-size($size) {
  // Perfect Fourth Scale
  @if $size == 1 {
    font-size: 3.157rem;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 1.1;
  } @else if $size == 2 {
    font-size: 2.369rem;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 1.5;
  } @else if $size == 3 {
    font-size: 1.777rem;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 1.5;
  } @else if $size == 4 {
    font-size: 1.333rem;
    font-weight: 400;
    line-height: 1.33;
  }
  //@media (min-width: 600px) {
  //  // Perfect Fifth Scale
  //  @if $size == 1 {
  //    font-size: 5.063rem;
  //    font-weight: 300;
  //    letter-spacing: -2px;
  //    line-height: 1.1;
  //  } @else if $size == 2 {
  //    font-size: 3.375rem;
  //    font-weight: 300;
  //    letter-spacing: -1px;
  //    line-height: 1.5;
  //  } @else if $size == 3 {
  //    font-size: 2.25rem;
  //    font-weight: 300;
  //    letter-spacing: -1px;
  //    line-height: 1.5;
  //  } @else if $size == 4 {
  //    font-size: 1.5rem;
  //    font-weight: 400;
  //    line-height: 1.33;
  //  }
  //}
}

@mixin title-color($color) {
  @if $color == grey {
    color: $color-doc;
  } @else if $color == green {
    color: $color-prince-charles;
  } @else if $color == white {
    color: $color-white;
  } @else if $color == inherit {
    color: inherit;
  }
}

@mixin title-padding($padding) {
  @if $padding == 1 {
    margin-top: 4rem;
    margin-bottom: 1.666rem;
  } @else if $padding == 2 {
    margin-top: 3.333rem;
    margin-bottom: 1.333rem;
  } @else if $padding == 3 {
    margin-top: 2.666rem;
    margin-bottom: 1rem;
  } @else if $padding == 4 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}


@mixin title($size, $color: inherit, $padding: false) {
  @include title-common();
  @include title-size($size);
  @include title-color($color);
  @include title-padding($padding);
}