
@mixin link-common() {

  font-family: $font-copy;
  font-weight: 400;

  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid currentColor;

  &:hover {
    border-bottom-width: 2px;
  }

  &:active{
    border-bottom-width: 1px;
  }

}

@mixin link-color($color: null) {
  @if $color == null {
    color: currentColor;
  } @else if $color == 'green' or $color == green { //because string and color name are not equal
    color: $color-queen-elizabeth;
  } @else if $color == 'grey' or $color == grey { //because string and color name are not equal
    color: $color-doc;
  } @else if $color == 'white' or $color == white { //because string and color name are not equal
    color: $color-white;
  } @else {
    @error('Invalid link-color "#{$color}"');
  }
}

@mixin link($color: null) {
  @include link-common();
  @include link-color($color);
}
