.v2-copy {
  color: #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; }

.v2-copy--white {
  color: #fff; }

.v2-paragraph {
  margin-top: 10px;
  margin-bottom: 10px; }

.v2-link {
  cursor: pointer;
  transition: opacity 0.25s;
  text-decoration: underline; }

.v2-link:hover {
  opacity: 0.7; }

.v2-link:active {
  opacity: 1; }

.v2-link--green {
  color: #009623; }

.v2-link--grey {
  color: #444; }

.v2-link--white {
  color: #fff; }

.v2-list {
  margin: 0;
  padding: 0; }

.v2-list--copy {
  padding-left: 40px;
  margin-bottom: 20px; }

.v2-list--copy .v2-list__item {
  margin-top: 7px; }

/*
* Base Icon List
*/
.v2-list--icon {
  list-style: none;
  margin-bottom: 1.5em; }

.v2-list--icon > .v2-list__item {
  margin-bottom: .5em;
  position: relative;
  padding-left: 1.5em;
  line-height: 1.4; }

.v2-list--icon > .v2-list__item:before {
  position: relative;
  vertical-align: middle;
  font-family: 'nibdings';
  line-height: 1;
  color: #26B11B;
  margin-right: .5em;
  margin-left: -1.5em; }

/*
* Icon List Modifiers
*/
.v2-list--tick > .v2-list__item:before {
  content: "\E01C";
  top: -1px; }

.v2-list--chevron > .v2-list__item:before {
  content: "\E022";
  top: -2px; }

.nib-title-1 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 54px;
  font-weight: 300;
  letter-spacing: -2px;
  line-height: 60px; }

.nib-title-2 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 48px; }

.nib-title-3 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 32px; }

.nib-title-4 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px; }

.nib-title-1--white {
  color: white; }

.nib-title-1--green {
  color: #009423; }

.nib-title-1--grey {
  color: #454545; }

.nib-title-2--white {
  color: white; }

.nib-title-2--green {
  color: #009423; }

.nib-title-2--grey {
  color: #454545; }

.nib-title-3--white {
  color: white; }

.nib-title-3--green {
  color: #009423; }

.nib-title-3--grey {
  color: #454545; }

.nib-title-4--white {
  color: white; }

.nib-title-4--green {
  color: #009423; }

.nib-title-4--grey {
  color: #454545; }

/*
* Add margins to titles when part of an article/document style page
*/
.nib-article .nib-title-1 {
  margin-top: 60px;
  margin-bottom: 25px; }

.nib-article .nib-title-2 {
  margin-top: 50px;
  margin-bottom: 20px; }

.nib-article .nib-title-3 {
  margin-top: 40px;
  margin-bottom: 15px; }

.nib-article .nib-title-4 {
  margin-top: 30px;
  margin-bottom: 15px; }

.u-bold {
  font-weight: bold; }

.u-italic {
  font-style: italic; }

.u-uppercase {
  text-transform: uppercase; }

.u-nowrap {
  white-space: nowrap; }

.u-ellipsis {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis; }
